<!DOCTYPE html>
<html>
<head>
  <title>List Example</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wisch/css/index.css') }}">
</head>
<body>

  <main>

    <li>Name</li>
    <li>Full name</li>
    <li>link</li>
    <li>Price</li>

  </main>

  <script src="{{ url_for('static', filename='wisch/js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='wisch/js/startup.js') }}"></script>
  <script src="{{ url_for('static', filename='wisch/js/submit.js') }}"></script>
  <script src="{{ url_for('static', filename='base/js/base.js') }}"></script>

</body>
</html>
